
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@100..900&display=swap');
 
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

*{
    margin: 0;
    padding: 0;
    /* background: rgb(0, 0, 0); */
}

/* shared styles  */
.display-flex{
    display: flex;
}
.body{
    width: 85%;
    margin: 0 auto;
    background: rgb(0, 0, 0);
}
/* Header section styles  */

header{
    background: linear-gradient(180deg, rgba(17,17,17), rgba(119, 119, 119, 0) 100%);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.nav-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-menu{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 20px;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    color: white;
    margin: 5px 50px 5px 2px;
    font-size: 1.2rem;
    font-weight: 600;
}
.bars-icon{
    display: none;
}
.home{
    background-color: brown;
    padding: 8px 20px;
    margin-left: 0px;
    border-radius: 3rem;
}

/* Banner section of header part  */

.header-banner{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12rem;
}

.header-title{
    width: 33rem;
    height: auto;
    font-size: 4.9rem;
    font-weight: 900;
    color: white;
    margin: 1.7rem 0;
}
.header-text p{
    font-size: 1rem;
    font-weight: 400;
    margin: 1.7rem 0;
    color: rgba(255, 255, 255, 0.5);
}
.primary-btn{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 16px 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 3rem;
    border: none;
}
#diff-btn{
    background-color: black;
    border: 1px solid white;
    margin-left: 14px;
}
.header-img{
    display: flex;
}
.video-btn{
    background-color: rgba(48, 48, 48, 0.54);
    /* background-color: rgb(48, 48, 0.54); */
    margin-left:-480px;
    margin-top: 500px;
    margin-bottom: 100px;
    padding: 22px;
    text-align: justify;
    align-items: center;
    gap: 10px;
    /* background-color: rgba(48, 48, 48, 0.54); */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}
.color-div{
    width: 50px;
    height: 50px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
#video-num{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}
#video-tuto{
    font-size: 1rem;
    font-weight: 400;
}
.videos{
    /* background-color: red; */
    margin-left: -100px;
    margin-top: 200px;
    margin-bottom: 400px;
    padding: 22px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
}
.videos h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
}
.videos span{
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}



/* Cnange your habit start of main section ......... */


/* shared code  */
.display-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.color{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}
/* main code  */
.habit-text{
    margin: 58px 0;
}
.habit-title{
    margin: 15px 0;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.time-table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.time-table img{
    border-radius: 50%;
    margin-bottom: 16px;
}
.time-table h1{
    margin: 8px 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

/* Run extra mile easily section stiles  */
/* shared code  */
.bg-color{
    background: rgb(34, 34, 34);
}

/* main code  */

.run{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 32px;
    margin: 62px 0px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.text-run{
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.text-run h2{
    font-size: 3rem;
    margin: 15px 0px;
    color: white;
     
}
.run-img{
    width: 100%;
    object-fit: none;
    object-position: 66% 33%;
    border-radius: 18px;
}


/* BMI Calculate section styles  */

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-head{
    width: 30rem;
    margin: 45px 0px ;
}
.bmi-head{
    color: white;
    margin: 10px 0px;
}
table{
    border-collapse: collapse;
}
th{
    text-align: start;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 10px;
    color: rgb(92, 91, 91);
}

.bmi-calculator{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: rgb(34, 34, 34);
}
.bmi-title{
    font-size: 1.8rem;
    font-weight: 900;
    margin: 14px 0px;
    color: white;
}
.c-chart{
    font-size: 1.8rem;
    font-weight: 900;
    margin: 24px 0px;
    color: white;
}
.bmi-text{
    font-size: 0.6rem;
    margin: 10px 0px 10px 0px;
}
.calculate-bmi{
    width: 576px;
}
.div-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
#last-opt{
    width: 100%;
}
.input-div input, select{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    margin: 5px 0px;
    /* margin: 5px 0px 5px 5px; */
    background-color: rgba(255, 255, 255, 0.1);
}
.cal-btn{
    margin: 10px 0px;
}


/* Mobile media Responsive codes ... */

@media screen and (max-width:576px) {

    .nav-menu{
        display: none;
    }
    .bars-icon{
        display: block;
        font-size: 2rem;
        font-weight: 800;
        color: rgb(255, 255, 255);
    }
    .header-banner,
    .run{
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .header-text p{
        width: 80%;
    }
    .header-title{
        width: 18rem;
        font-size: 2.25rem;
    }
    .header-btn{
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
    }
    .primary-btn{
        font-size: 0.9rem;
        padding: 10px 25px;
    }
    .videos{
        margin-left: -150px;
        margin-top: 100px;
        margin-bottom: 700px;
        padding: 10px;
    }
    .videos span{
        font-size: 0.6rem;
    }
    .video-btn{
        margin-left: -300px;
        margin-top: 300px;
        padding: 3px;
        gap: 5px;
    }

/* change your habit section responsive  */

.habit-text{
    margin: 5px 0;
}
.habit-title{
    font-size: 2rem;
    margin: 14px 0px;
}
.time-table{
    grid-template-columns: 1fr;
    justify-items: center;
}


.text-run,
.calculate-bmi{
    width: 100%;
}
.text-run button{
    margin:10px 0px;
    width: 100%;
}
.text-run h2{
    font-size: 2rem;
    font-family: "Allura", cursive;
}
.run-img{
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
    object-position: 30% 13%;
}

.bmi-calculator{
    flex-direction: column;
    gap: 2rem;
}
.div-1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.input-div{
    width: 300px;
    margin: 0 auto;
}
.input-div input, select{
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    margin: 5px 0px;
    /* margin: 5px 0px 5px 5px; */
    background-color: rgba(255, 255, 255, 0.1);
}

}